<!DOCTYPE html>

<head>
    <title>Booking.com Hack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/main.css">
    <noscript>
        <link rel="stylesheet" href="css/noscript.css">
    </noscript>
</head>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Header-->
    <header id="header">
        <div class="inner">
            <!-- Logo--><a class="logo" href="/"><span class="symbol"><img src="images/logo.svg" alt=""></span><span
                class="title">O'Blairo</span></a></div>
    </header>
    <!-- Main-->
    <div id="main">
        <div class="inner">
            <header>
                <h1>DESTINATIONS</h1>
                <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus
                    arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam.
                    Lorem ipsum dolor sit amet nullam dolore.</p>
            </header>
            <section class="tiles">
                <article class="style1"><span class="image"><img src="images/pic01.jpg" alt=""></span>
                    <a href="/bookings">
                        <h2>Magna</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style2"><span class="image"><img src="images/pic02.jpg" alt=""></span>
                    <a href="/bookings">
                        <h2>Lorem</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style3"><span class="image"><img src="images/pic03.jpg" alt=""></span>
                    <a href="/bookings">
                        <h2>Feugiat</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style4"><span class="image"><img src="images/pic04.jpg" alt=""></span>
                    <a href="/bookings">
                        <h2>Tempus</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style5"><span class="image"><img src="images/pic05.jpg" alt=""></span>
                    <a href="/bookings">
                        <h2>Aliquam</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style6"><span class="image"><img src="images/pic06.jpg" alt=""></span>
                    <a href="/bookings">
                        <h2>Veroeros</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <footer id="footer">
        <div class="inner">
            <section>
                <h2>Get in touch</h2>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half"><input id="name" type="text" name="name" placeholder="Name"></div>
                        <div class="field half"><input id="email" type="email" name="email" placeholder="Email"></div>
                        <div class="field"><textarea id="message" name="message" placeholder="Message"></textarea></div>
                    </div>
                    <ul class="actions">
                        <li><input class="primary" type="submit" value="Send"></li>
                    </ul>
                </form>
            </section>
            <section>
                <h2>Follow</h2>
                <ul class="icons">
                    <li><a class="icon style2 fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                    <li><a class="icon style2 fa-facebook" href="#"><span class="label">Facebook</span></a></li>
                    <li><a class="icon style2 fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                    <li><a class="icon style2 fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                    <li><a class="icon style2 fa-github" href="#"><span class="label">GitHub</span></a></li>
                    <li><a class="icon style2 fa-500px" href="#"><span class="label">500px</span></a></li>
                    <li><a class="icon style2 fa-phone" href="#"><span class="label">Phone</span></a></li>
                    <li><a class="icon style2 fa-envelope-o" href="#"></a></li>
                </ul>
            </section>
        </div>
    </footer>
</div>
<!-- Scripts-->
<script src="js/jquery.min.js"></script>
<script src="js/browser.min.js"></script>
<script src="js/breakpoints.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>
