doctype html

head
  title Elements - Phantom by HTML5 UP
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='css/main.css')
  noscript
    link(rel='stylesheet' href='css/noscript.css')
// Wrapper
#wrapper
  // Header
  header#header
    .inner
      // Logo
      a.logo(href='index.html')
        span.symbol
          img(src='images/logo.svg' alt='')
        span.title Phantom

  // Main
  #main
    .inner
      h1 USER PORTAL
      // Table
      section
        h2 Travelling Plans
        .table-wrapper
          table
            thead
              tr
                th Destination
                th No.of Volunteers
                th Start Chatting
            tbody
              tr
                td                 
                  span.image
                    img(src='images/pic01.jpg' alt='')
                td 20
                td 
                  a.button(href='/volunteers') Find Volunteers
              tr
                td                 
                  span.image
                    img(src='images/pic02.jpg' alt='')
                td 20
                td 
                  a.button(href='/volunteers') Find Volunteers
              tr
                td                 
                  span.image
                    img(src='images/pic03.jpg' alt='')
                td 20
                td 
                  a.button(href='/volunteers') Find Volunteers
              tr
                td                 
                  span.image
                    img(src='images/pic04.jpg' alt='')
                td 20
                td 
                  a.button(href='/volunteers') Find Volunteers

// Scripts
script(src='js/jquery.min.js')
script(src='js/browser.min.js')
script(src='js/breakpoints.min.js')
script(src='js/util.js')
script(src='js/main.js')
